html,
body,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
}

.header {
  position: relative;
  padding: 1%;
  left: 0;
  margin: 0;
  top: 0;
  width: 100%;
  text-align: center;
  background: #2b43d0e6;
  color: white;
  font-size: 20px;
  height: 6%;
}

.header h1 {
  margin: 0;
}

.main-content {
  width: 100%;
  height: 85%;
  overflow-y: scroll;
  position: relative;
  /* background: blue; */
}

.footer {
  position: relative;
  padding: 0.8%;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2b43d0e6;
  color: white;
  text-align: center;
  height: 6%;
}

.footer p {
  margin: 0;
  bottom: 0;
}

.createButton {
  position: fixed;
  bottom: 17%;
  left: 95%;
}

.tab {
  display: flex;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: grey;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(65, 61, 61);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgb(37, 34, 34);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.bookingImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}


.loader {
  margin: auto;
  margin-top: 10%;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #2c2f31;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.cbutton {
  background-color: #afafaf;
  color: white;
  padding: 12px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
  width: 30%;
}